<p>payables works!</p>
<mat-card>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title color=primary>Sachin</mat-card-title>
    <mat-card-subtitle>End</mat-card-subtitle>

    <div >
        fdskljf sdflkaasdklf <br>
        fdskljf sdflkaasdklf <br>
        fdskljf sdflkaasdklf <br>
        fdskljf sdflkaasdklf <br>
        fdskljf sdflkaasdklf <br>
        fdskljf sdflkaasdklf <br>
        fdskljf sdflkaasdklf <br>
        fdskljf sdflkaasdklf <br>
        fdskljf sdflkaasdklf <br>
        fdskljf sdflkaasdklf <br>
        fdskljf sdflkaasdklf <br>
    </div>

    
    <mat-card-actions align="end">
      <button mat-button>Submit</button>
      <button mat-button>Cancel</button>
    </mat-card-actions>
  </mat-card>