<!--h1 mat-dialog-title> {{ data.type === 'purchase' ? 'Sales Order' : 'Purchase Order'}} </h1-->
<h1 mat-dialog-title> {{data.type}} Order </h1>

<mat-divider></mat-divider>
<mat-dialog-content class="mt-4 mb-1">

    <!-- <mat-progress-spinner diameter="24" mode="indeterminate" *ngIf="isLoading$ | async">
    </mat-progress-spinner> -->

    <div class="col-12">
        <table id="main" class="main" style="border: 1px solid; padding: 0;">
            <tr>
                <td id="parties" style="width: 50%;">
                    <table id="customer-invoice" style="border: 1px solid #9e9e9e;">
                        <tr>
                            <td style="background-color: #e3f2fd; font-weight: bold;">Customer</td>
                        </tr>
                        <tr>
                            <td id="c-name" style="color: #424242; font-size: 18px; font-weight: bold;">
                                {{data.customerName}}</td>
                        </tr>
                        <tr>
                            <td id="c-gstin" style="color: #424242; font-size: 12px;">GSTIN / UIN:
                                {{data.customer.gstin1}}</td>
                        </tr>
                        <tr>
                            <td id="c-inv-email" style="color: #303f9f; font-size: 15px; font-style: italic;">
                                {{data.customer.email}}</td>
                        </tr>
                        <tr>
                            <td id="c-inv-add-1">{{data.customer.invoiceContact.address1}}</td>
                        </tr>
                        <tr>
                            <td id="c-inv-add-2">{{data.customer.invoiceContact.address2}}</td>
                        </tr>
                        <tr>
                            <td id="c-inv-state">State: {{data.customer.invoiceContact.state}}, pincode:
                                {{data.customer.invoiceContact.pincode}}</td>
                        </tr>
                    </table>

                    <table id="customer-dispatch" style="border: 1px solid #9e9e9e;">
                        <tr>
                            <td style="color: #616161; font-size: 16px; font-weight: bold; background-color: #e3f2fd ;">
                                Dispatch Address</td>
                        </tr>
                        <tr>
                            <td id="c-name">{{data.customerName}}</td>
                        </tr>
                        <tr>
                            <td id="c-disp-add-1">{{data.customer.dispatchContact.address1}}</td>
                        </tr>
                        <tr>
                            <td id="c-disp-add-2">{{data.customer.dispatchContact.address2}}</td>
                        </tr>
                        <tr>
                            <td id="c-disp-state">State: {{data.customer.dispatchContact.state}}, pincode:
                                {{data.customer.dispatchContact.pincode}}</td>
                        </tr>
                    </table>

                    <table id="supplier" style="border: 1px solid #9e9e9e;">
                        <tr>
                            <td style="background-color: #e3f2fd; font-weight: bold;">Supplier</td>
                        </tr>
                        <tr>
                            <td id="s-name" style="color: #424242; font-size: 18px; font-weight: bold;">
                                {{data.supplierName}}</td>
                        </tr>
                        <tr>
                            <td id="s-gstin" style="color: #424242; font-size: 12px;">GSTIN / UIN:
                                {{data.supplier.gstin1}}</td>
                        </tr>
                        <tr>
                            <td id="s-inv-add-1">{{data.supplier.invoiceContact.address1}}</td>
                        </tr>
                        <tr>
                            <td id="s-inv-state">State: {{data.supplier.invoiceContact.state}}, pincode:
                                {{data.supplier.invoiceContact.pincode}}</td>
                        </tr>
                    </table>
                </td>

                <td style="width: 50%; vertical-align: top;">
                    <table id="info" style="background-color: #e3f2fd; border: 1px solid #bdbdbd;">

                        <tr style="border: 1px solid #757575; height: 50px;">
                            <td style=" font-size: 16px; border: 1px solid #757575; font-weight: bold;">Order Ref</td>
                            <td style="background-color: white; color: #283593; font-size: 18px; font-weight: bold;">
                                {{data.referenceno}} </td>
                        </tr>
                        <tr style="border: 1px solid #757575;">
                            <td style=" font-size: 16px; border: 1px solid #757575; font-weight: bold;">Dated</td>
                            <td style="background-color: white; font-size: 18px; font-weight: bold;">
                                {{data.orderdate * 1000| date: 'dd/MMM/yyyy'}} </td>
                        </tr>
                        <tr style="border: 1px solid #757575;">
                            <td style=" font-size: 16px; border: 1px solid #757575; font-weight: bold;">Terms of Payment</td>
                            <td style="background-color: white; font-size: 18px;"> Advance </td>
                        </tr>
                        <tr style="border: 1px solid #757575;">
                            <td style=" font-size: 16px; border: 1px solid #757575; font-weight: bold;">Terms of Delivery</td>
                            <td style="background-color: white; font-size: 18px;"> Immediate</td>
                        </tr>
                        <tr style="border: 1px solid #757575;">
                            <td style=" font-size: 16px; border: 1px solid #757575; font-weight: bold;">Dispatch Route</td>
                            <td style="background-color: white; font-size: 18px;"> By Road </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="2" style="width: 100%;" >
                    <table id="po-products" style="width: 100%;">
                        <thead style="border: 1px solid;">
                            <th style="width: 7%;"> Sl no</th>
                            <th style="width: 38%;"> Items </th>
                            <th style="width: 20%;"> Quantity </th>
                            <th style="width: 10%;"> Rate </th>
                            <th style="width: 5%;"> Per </th>
                            <th style="width: 15%;"> Amount </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of data.poproductlist; index as i;">
                                <td style="width: 7%;"> {{i + 1}}</td>
                                <td style="width: 38%;"> {{row.productName}}</td>
                                <td style="width: 20%;"><span>{{row.quantity}} M.T. </span></td>
                                <td style="width: 10%;"> {{row.price}}</td>
                                <td style="width: 5%;"> M.T.</td>
                                <td style="width: 15%;"> {{row.price * row.quantity}}</td>
                                
                            </tr>
                            <tr> 
                                <td colspan="2" style="width: 45%; text-align: right; "> CGST  9%</td> 
                                <td colspan="4" style="width: 55%; text-align: right;"> 2,93,760.00</td>
                               
                            </tr> 

                            
                        </tbody>
                        <tfoot style="border: 1px solid; font-weight: bold;">
                            <tr> 
                                <td colspan="2" style="width: 45%; text-align: right; font-size: 16px;"> Total</td> 
                                <td colspan="4" style="width: 55%; text-align: right; font-size: 16px;"> 2,93,760.00</td>
                               
                            </tr> 

                        </tfoot>

                    </table> 
                   
                </td>
            </tr>

        
        </table>


    </div>

</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end" class="mt-1">
    <button id="cancel-btn" mat-raised-button (click)="onClose()">Close</button>

</mat-dialog-actions>