<div class="erp-mat-dialog">
    <div class="header">
  
      <h1 mat-dialog-title *ngIf="true" class="main">Invoice - {{invoice.referenceno}} </h1>
      <h3 mat-dialog-title *ngIf="true" class="sub">Balance - {{invoice.rupBalance}}</h3>
    </div>
  
    <mat-dialog-content class="mt-4 mb-1">
      <!-- <mat-progress-spinner diameter="24" mode="indeterminate" *ngIf="isLoading$ | async">
      </mat-progress-spinner> -->
  
      <!--------  Form  -------------->
      <form class="trans-form" #productForm="ngForm" [formGroup]="transFormGroup" (ngSubmit)="submitMain()">
  
        <div class="row mb-5" style="padding: 20px;">
  
  
          <div class="col-12" *ngIf="order.type == 'purchase'">
            <h2>Paid To &nbsp; {{order.supplierName}}</h2>
          </div>
          <div class="col-11" *ngIf="order.type == 'sale'">
            <h2>Recieved from &nbsp; {{order.customerName}} </h2>
          </div>
  
          <mat-form-field class=" col-5">
            <mat-label>amount</mat-label>
            <input matInput placeholder="" formControlName="amount">
          </mat-form-field>
  
          <mat-form-field class="col-5">
            <mat-label>Transaction date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="transDate"> 
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
  
          
  
          <mat-form-field class=" col-10">
            <mat-label>notes</mat-label>
            <input matInput placeholder="" formControlName="notes">
          </mat-form-field>
  
  
  
  
  
  
  
        </div>
      </form>
  
  
  
  
  
    </mat-dialog-content>
  
    <mat-divider></mat-divider>
  
    <mat-dialog-actions align="end" class="mt-1">
      <button id="save-btn" mat-raised-button color="primary" [disabled]="!productForm.form?.valid">Save</button>
      <button id="cancel-btn" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
  
    </mat-dialog-actions>
  
  </div>