.c1 {
  color: #757575 !important;
}
.c2 {
  color: #795548 !important;
}
.c3 {
  color: #ff8a65 !important;
}
.c4 {
  color: #5c6bc0 !important;
}

.c5 {
  color: #1b5e20 !important;
}
.c6 {
  color: #e65100 !important;
}
.c7 {
  color: #009688 !important;
}
.c8 {
  color: #2196f3 !important;
}
.c9 {
  color: #0d47a1 !important;
}

.tags {
  border-radius: 20px;

  padding: 6px 15px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  width: 90px;
  border: 0.5px solid #bdbdbd;

  color: #424242;

  &.Payment {
    background-color: #b3e5fc;
  }
  &.complete {
    background-color: #4db6ac;
    color: #004d40;
  }
  &.Receipt {
    background-color: #dcedc8;
  }
  &.received {
    background-color: #dcedc8;
  }
  &.Confirm {
    background-color: #dcedc8;
  }
  &.confirm {
    background-color: #dcedc8;
  }
  &.Shipped {
    background-color: #dcedc8;
  }
  &.Purchase {
    background-color: #e1f5fe;
  }
  &.Sale {
    background-color: #f1f8e9;
  }
  &.Journal {
    background-color: #f0f4c3;
  }
}

.info {
  background-color: #e3f2fd;
  border-radius: 4px;
  color: #37474f;
  font-size: 15px;
  height: 40px;
}

.warn {
  background-color: #ffe0b2;
  border-radius: 4px;
  color: #795548;
  font-size: 15px;
  height: 40px;
}

.bg {
  background-color: #e8eaf6;
}
.bg-grey300 {
  background-color: #e0e0e0;
}
.bg-amber {
  background-color: #fff8e1;
}
.bg-teal {
  background-color: #e0f2f1;
}
.bg-lime {
  background-color: #f0f4c3;
}
.bg-lgreen {
  background-color: #f1f8e9;
}
.bg-green {
  background-color: #c8e6c9;
}
.bg-dgreen {
  background-color: #1b5e20;
}

.bg-lorange {
  background-color: #fff3e0;
}
.bg-orange {
  background-color: #ffe0b2;
}
.bg-dorange {
  background-color: #e64a19;
}

.bg-bgrey {
  background-color: #eceff1;
}
.bg-lred {
  background-color: #fbe9e7;
}
.bg-red {
  background-color: #ffebee;
}
.c1 {
  color: #bdbdbd !important;
}

.c2 {
  color: #a1887f !important;
}

.c3 {
  color: #ff8a65 !important;
}
.c-lg {
  color: #dcedc8 !important;
}

.c-lo {
  color: #ffe0b2 !important;
}
.c-lred {
  color: #ffccbc !important;
}
.c-dorange {
  color: #bf360c !important;
}
.c-dgreen {
  color: #1b5e20 !important;
}

.round-4 {
  //padding: 12px;
  border-radius: 4px;
  border: 0.5px solid #bdbdbd;
}

.heading2 {
  padding: 2px;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;

  h3 {
    font-size: 0.87rem;
    color: #455a64;
    margin-bottom: 5px;
    font-style: italic;
  }
}

.transaction-table-div {
  width: 100%;
  table {
    margin-bottom: 20px;
  }
  td,
  th {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    padding: 10px 5px;
    font-size: 18px;
  }
  th {
    font-size: 14px;
    color: #757575;
  }
}

.edit-table {
  width: 100%;
  margin-bottom: 20px;
  background-color: #eceff1;
  td,
  th {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    padding: 10px 5px;
  }
  th {
    font-size: 14px;
    color: #757575;
  }

  .debit-row {
    td {
      color: #455a64;
      font-weight: bold;
    }
  }

  .credit-row {
    td {
      color: #546e7a;
    }
  }
}

.journal-form {
  padding: 10px 5px;
}
