<div class="erp-mat-dialog">
    <!-- <div class="header">  
      <h1 mat-dialog-title class="main">Select Account</h1> 
    </div> -->
  
    <mat-dialog-content class="mt-4 mb-1">
 

    <!-- Account Categories-->
    <div class="category"> 
      <div class="category-name" [ngClass]="side == 1 ? 'c-dgreen': 'c-dorange'">
          <h3>{{account.name}}</h3>
      </div>

      <!-- Account Groups-->
      <table style="width: 100%;">
          <tr *ngFor="let group of account.acctList" class="tr-group">
              <td style="width: 70%;" class="pl-1 td-group" >

                  <span *ngIf="group.group">
                      <fa-icon icon="folder" class="pl-2" transform="grow-4"></fa-icon>
                  </span>
                  <span *ngIf="!group.group">
                      <fa-icon icon="address-card" class="pl-2" transform="grow-4"></fa-icon>
                  </span>

                  <button mat-button color="primary" class="medium" (click)="selectGroup(group)">
                      {{group.name}}
                  </button>

              </td>
              <td class="td-amount">
                  <span class="amount">{{group.rupBalance}}</span>
              </td>
          </tr>
      </table>

      <!-- Category Balance-->
      <table style="width: 100%;" class="total">

          <tr>
              <td style="width: 70%;" class="pl-1"> Total Balance </td>
              <!-- <td style="width: 30%;" class="td-amount-total">{{category.rupBalance}}</td> -->
          </tr>
      </table>
  </div>
   
  
  
  
  
    </mat-dialog-content>
  
    <mat-divider></mat-divider>
  
    <mat-dialog-actions align="end" class="mt-1">

      <button id="cancel-btn" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
  
    </mat-dialog-actions>
  
  </div>